
__pycache__/
.git/
accounts.txt
cookies.json
/.vscode
/.vs
build/
dist/
*.exe
assignVer.py
*.spec
version.py
/downloaded_files
test.py
temp.py
testFile.bat
analytics.txt
ungoogled-chromium_*
gui.py
lib/library.py
