name: Build, Lint & Publish

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          if (Test-Path requirements.txt) { pip install -r requirements.txt }
        shell: pwsh
  
      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --max-complexity=100 --max-line-length=600 --statistics

      - name: Build executable
        run: |
          echo "__version__ = 'v1.${{ github.run_number }}'" > version.py
          pyinstaller --onefile --clean --add-data "version.py:." --add-data "lib/adjectives.txt:lib" --add-data "lib/nouns.txt:lib" --add-data "lib/verbs.txt:lib" --add-data "$(python -c "import random_username, os; print(os.path.join(os.path.dirname(random_username.__file__), 'data'))")${{ runner.os == 'Windows' && ';' || ':' }}random_username/data" --name "roblox-auto-signup v1.${{ github.run_number }}.exe" main.py

      - name: Upload Executable
        uses: actions/upload-artifact@v4
        with:
          name: Roblox Auto Signup v1.${{ github.run_number }}
          path: ./dist/roblox-auto-signup v1.${{ github.run_number }}.exe
  
      - name: Create a new tag
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git tag -a "v1.${{ github.run_number }}" -m "v1.${{ github.run_number }}"
          git push origin "v1.${{ github.run_number }}"

      - name: Publish code
        id: create_release
        uses: softprops/action-gh-release@v2.0.4
        with:
          files: |
            ./dist/roblox-auto-signup v1.${{ github.run_number }}.exe
          name: "v1.${{ github.run_number }}"
          body: "Commit: ${{ github.sha }}\nDownload the `roblox-auto-signup.v1.${{ github.run_number }}.exe` file or the `source code` and you are good to go!"
          tag_name: "v1.${{ github.run_number }}"